<title>Hoax Detection System</title>
<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
<h2>Hoax Detection System</h2>
<form action="" method="post" role="form">
    {{ form.csrf }}
	<div class="form-group">
      	<label for="berita">Berita:</label>
		<!-- <input type="text" class="form-control" id="berita" name="berita" placeholder="What's your name?"> -->
		<textarea class="form-control" name ="berita" id="berita" rows="8" placeholder="Masukan berita !"></textarea>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
 
{% for message in messages %}
{% if "Error" not in message[1]: %}
<div class="alert alert-info">
    Berita ini adalah berita :  <strong>{{ message[1] }} </strong>
</div>
{% endif %}
 
{% if "Error" in message[1]: %}
<div class="alert alert-warning">
     {{ message[1] }}
 </div>

{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
 
</div>
